body {
  margin: 0;
  background: #0b0b0b;
  font-family: system-ui;
  color: white;
}

.app {
  max-width: 420px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top-bar {
  padding: 14px;
  display: flex;
  justify-content: space-between;
}

#chat {
  flex: 1;
  padding: 16px;
  overflow-y: auto;
}

.message {
  background: #141414;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.input-bar {
  display: flex;
  padding: 12px;
  gap: 10px;
}

input {
  flex: 1;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: #141414;
  color: white;
}

button {
  width: 50px;
  border-radius: 50%;
  border: none;
  background: #b6ff2e;
  font-size: 18px;
}
